<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Friday.Base" version="1.0.39" targetFramework="net47" />
  <package id="Friday.Json.Basics" version="1.0.2" targetFramework="net47" />
  <package id="MarketData.Public.Api" version="1.4.9" targetFramework="net47" />
  <package id="MarketData.Transport.Messages" version="1.4.9" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net47" />
  <package id="NotInFire.General.Domain.Types" version="1.5.47" targetFramework="net47" />
  <package id="websocketsharp.core" version="1.0.0" targetFramework="net47" />
</packages>